.easter-egg-avocado {

    width: 80rem; 
    height: 100vh; 
    
    color: rgb(235, 235, 235); 
    background: rgb(0, 0, 0);
    border: 100px solid rgb(179, 255, 0);
    background-image: url("/public/images/onepiece.jpeg");
    
}




